@model _1ClickDelivery.Models.Waybill

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SenderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WayBillNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WayBillNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManualWayBillNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManualWayBillNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialInstruction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialInstruction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverPhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverPhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfPickup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPickup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDelivered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDelivered)
        </dd>

    </dl>
</div>
