@model IEnumerable<_1ClickDelivery.Models.Waybill>



<div class="panel panel-primary card">
    <div class="panel-heading text-center">
        <h3>E-WayBill</h3>
    </div>
    <div class="panel-body">

        <div class="table-responsive">

            <table id="waydatatable" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.WayBillNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PickupArea)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PickupAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SpecialInstruction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeliveryArea)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DestinationAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReceiverName)
                        </th>
 
                        <th>
                            @Html.DisplayNameFor(model => model.ReceiverPhoneNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfPickup)
                        </th>
                        <th>Print</th>
                    </tr>
                </thead>

                <tbody>


                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WayBillNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PickupArea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PickupAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpecialInstruction)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryArea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DestinationAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceiverName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceiverPhoneNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfPickup)
                        </td>
                        <td>
                            <a href=" @Url.Action("PrintWaybill","Waybill", new { pkWaybill = item.PKWayBill })">
                                <img src="~/img/print-icon.png" width="30" height="25" style="margin-left:10px" />
                            </a>
                           
                        </td>
                    </tr>


                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>
