@model _1ClickDelivery.Models.Waybill

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Waybill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PKSender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PKSender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WayBillNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WayBillNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialInstruction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialInstruction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfPickup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPickup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeUpdated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
