@model IEnumerable<_1ClickDelivery.Models.PickupAddress>




<div class="panel panel-primary card menuclick">
    <div class="panel-heading text-center">
        <h3>Manage Pickup Address</h3>
    </div>
    <div class="panel-body ">

        <button class="btn btn-success" id="CreatePickupAddressButton" style="font-size:12px;margin:0px 3px 10px 0px;background-color:#609dd6"><span class="fa fa-plus"></span> Add new pickup address </button>
        <div class="table-responsive">

            <table id="datatablepickup" class="table table-striped table-bordered table-hover ">
                <thead>
                    <tr>
                        <th>Pickup Addresses</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Street) @Html.DisplayFor(modelItem => item.Unit) @Html.DisplayFor(modelItem => item.Area) @Html.DisplayFor(modelItem => item.VillageBarangaMunicipality)<br /><b>Contact Person: </b>  @Html.DisplayFor(modelItem => item.ContactPerson)<br> <b>Contact Number: </b>@Html.DisplayFor(modelItem => item.ContactPersonNo)

                            </td>
                            <td><a href="#"><span class="fa fa-pencil" onclick="test('@item.PKPickupAddress');"></span></a></td>
                            <td><a href="#"><span class="fa fa-trash"></span></a></td>
                        </tr>


                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


