@model _1ClickDelivery.Models.RegisterViewModel

<style>

    .loginInfo .panel-heading {
        border-bottom: none !important;
        padding: 20px 15px 10px !important;
    }

        .loginInfo .panel-heading .panel-title {
            font-size: 16px;
            font-weight: 700 !important;
            letter-spacing: 0;
            font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
            color: #444 !important;
        }


    .panel-body, .modal-body .panel-body-warning {
        padding: 15px;
    }

    .loginInfo.old {
        border: none !important;
        background-color: #fff;
    }

    .loginInfo {
        margin-top: 20px;
    }

        .loginInfo.old .panel-heading, .loginInfo.old .panel {
            background-color: #fff;
            color: #0277bd;
            border: 1px solid #ccc;
            border-top: 5px solid #004AAD;
            padding: 15px;
        }

        .loginInfo.old .panel-body, .loginInfo.old .modal-body .panel-body-warning, .modal-body .loginInfo.old .panel-body-warning {
            border: 1px solid #ccc;
            border-top: none;
        }

        .loginInfo.old .checkbox label {
            font-size: 12px;
            padding-left: 0;
        }

        .loginInfo.old .checkbox label {
            font-size: 12px;
            padding-left: 0;
        }

        .loginInfo.old a {
            font-size: 12px;
        }

    .btn-primary {
        background-color: #004AAD !important;
        border-color: #004AAD !important;
    }

        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
            background-color: #19ab66 !important;
            border-color: #004AAD !important;
        }
    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
        -moz-border-radius: 0px;
        -webkit-border-radius: 4px 4px 0px 0px;
        border-radius: 4px 4px 0px 0px;
    }

        .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default:active, .btn-default.active {
            color: #333;
            background-color: #ccc;
            border-color: #ccc; /*set the color you want here*/
        }
</style>


<div class="container " style="padding-top:180px">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 hidden-sm hidden-xs">
                        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                            <h2 class="h-ultra">Book Now</h2>
                        </div>
                        <div class="well well-trans" style="padding-bottom:1px;border: 1px solid #ccc; border-left: 5px solid #004AAD;">
                            <div class="wow fadeInRight" data-wow-delay="0.1s">
                                <ul class="lead-list">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                @*<h6 class="h-medium">Book Now</h6>*@
                                            </div>
                                            <div id="forFont">
                                                <div class="col-xs-6">
                                                    <p>You can either call, text or login to schedule a pickup date of your parcel.</p>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="">
                                                        <img src="~/img/photo/1.png" alt="Nature" style="height:auto;" width="113">
                                                        <p style="margin-bottom:0px;color:#3288c4"><b id="bol" style="color:#676767;">Call</b><br />(02)705 1071 <span style="color:#676767;">or</span><br />0923-180-7478 </p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="">
                                                        <img src="~/img/photo/2.png" alt="Nature" style="height:auto;" width="113">
                                                        <p style="margin-bottom:0px;color:#3288c4"><b id="bol" style="color:#676767;">Text</b><br />0917-538-8126</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-offset-0  col-md-4 col-sm-offset-3 col-sm-6  col-xs-12 ">

                            <div class="panel panel-default loginInfo old">
                                <div class="panel-heading">
                                    <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                                        <h4 class="panel-title"><i class="fa fa-plus-circle"></i> &nbsp;New Customer</h4>
                                    </div>
                                </div>
                                <div class="panel-body" style="padding: 20px 30px 5px;">
                                        <img src="~/img/loading.gif" class="img-responsive" style="margin:0 auto;display:none;" id="gif" />

                                    <div class="wow fadeInRight" data-wow-delay="0.1s" id="formreg">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone Number" })
                                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group text-center">
                                            <input type="button" class="btn btn-primary" id="modalOn" value="Register" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-xs-12 hidden-md hidden-lg" style="margin-top:20px">
                        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                            <h2 class="h-ultra">Book Now</h2>
                        </div>
                        <div class="well well-trans" style="padding-bottom:1px; border: 1px solid #ccc;border-left: 5px solid #004AAD;">
                            <div class="wow fadeInRight" data-wow-delay="0.1s">
                                <ul class="lead-list">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                @*<h6 class="h-medium">Book Now</h6>*@
                                            </div>
                                            <div id="forFont">
                                                <div class="col-xs-12" style="padding-bottom:10px">
                                                    You can either call, text or login to schedule a pickup date of your parcel.
                                                </div>
                                                <div class="col-xs-12 col-sm-6" style="margin-bottom:10px">
                                                    <div class="row">
                                                        <div class="col-xs-4 ">
                                                            <img src="~/img/photo/1.png" alt="Call" style="width:100%; height:auto;" width="180">
                                                        </div>
                                                        <div class="col-xs-8">
                                                            <p style="margin-bottom:0px;color:#3288c4"><b id="bol" style="color:#676767;">Call</b><br />(02)705 1071 <span style="color:#676767;">or</span><br />0923-180-7478 </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6" style="margin-bottom:20px">
                                                    <div class="row">
                                                        <div class="col-xs-4 ">
                                                            <img src="~/img/photo/2.png" alt="Text" style="width:100%; height:auto;" width="180">
                                                        </div>
                                                        <div class="col-xs-8">
                                                            <p style="margin-bottom:0px;color:#3288c4"><b id="bol" style="color:#676767;">Text</b><br />0917-538-8126</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br>
        </div>
    </div>

</div>

<div class="modal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-top: 6px solid #004AAD;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Email verification</h4>
            </div>
            <div class="modal-body">
                <p>
              your email address is:
                </p>
                <p>
                    <h3 id="emailverif"></h3>
                </p>
                is this correct?
            </div>
            <div class="modal-footer">
                <button id="confirmButton" type="submit" class="btn btn-primary">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="focusEmail()">Change My Email</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("ul li:nth-child(7)").addClass("active");
        $(".navbar-main-collapse1 ul li:nth-child(2)").addClass("active");

        function focusEmail() {
            $("#Email").focus();
        }
        $("#modalOn").click(function () {
            var isVal = $("form").valid();
            if (isVal) {
                $("#emailverif").text($("#Email").val());
                $(".modal").modal("show");
            }
           
        });
        $("#confirmButton").click(function () {
            $(".modal").modal("hide");
            $("#formreg").hide();
            $("#gif").css("display", "block");
            $(".panel-title").text("Please wait while we create your account ...");
            $("form").submit();          
        });


        removeEffectOnNavbar();
    
    </script>
}
